{{ if eq .issue 1 }}Your password is too short. Must have at least 8 characters.{{ end -}}
{{ if eq .issue 2 }}You can't choose this app's name, your email address, or similar, as your password.{{ end -}}
{{ if eq .issue 3 }}Your password was found on a list of compromised passwords.{{ end -}}
{{ if eq .issue 4 }}Your password was found in an English dictionary which commonly used to break passwords.{{ end -}}
{{ if eq .issue 5 }}Your password may not contain repetitive characters only.{{ end -}}
{{ if eq .issue 6 }}Your password is a simple sequence.{{ end }}
Please choose another one.
